<div class="row">
    <div class="col-xs-12">
        <div class="input-group">
            {{input type='text' enter='addServer' value=newServer class='form-control' placeholder='New ICE Server URL'}}
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" {{action 'addServer'}}>Add</button>
            </span>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        ICE Servers 
        <button class="btn btn-sm btn-default" title="Information" {{action 'info'}}>
            <i class="glyphicon glyphicon-question-sign"></i>
        </button>
        <button class="btn btn-sm btn-default pull-right" title="Reset Server List to Defaults" {{action 'resetServers'}}>
            <i class="glyphicon glyphicon-retweet"></i>
        </button>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover server-table">
            <thead>
                <tr>
                    <th>URL</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {{#each model as |server|}}
                    <tr>
                        <td>
                            {{server.url}}
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger" {{action 'removeServer' server}}><i class="glyphicon glyphicon-remove"></i></button>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{outlet}}
