{{#if socketClient.connected}}
    {{call-manager connectedTo=socketClient.connectedTo hostMode=hostMode hostPort=hostPort disconnect="disconnect"}}
    {{terminal-grid src=src snapshot="snapshot" close="close"}}
{{else}}
    {{title-center}}
    <div class="app-settings">{{#link-to 'settings' title='settings' class='btn btn-default' tagName='button'}}<i class="glyphicon glyphicon-cog"></i>{{/link-to}}</div>
    {{#if chooseMode}}
        {{choose-mode hostCall="hostCall" joinCall="joinCall"}}
    {{/if}}
    {{#if joinCall}}
        {{join-call connect="connect" choose="choose" joinAddress=joinAddress joinPort=joinPort}}
    {{/if}}
    {{#if hostCall}}
        {{host-call host="host" choose="choose" hostPort=hostPort}}
    {{/if}}
{{/if}}