<button class="btn btn-default btn-block"><span class="glyphicon glyphicon-info-sign"></span></button>
<div class="client-info-popup background-well-blue">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4">
                <b>Connected To:</b>
            </div>
            <div class="col-xs-8 no-breakline overflow-ellipsis">
                <span class="text-danger">{{{connectedTo}}}</span>
            </div>
        </div>
        {{#if hostMode}}
            <div class="row">
                <div class="col-xs-4">
                    <b>Host Port:</b>
                </div>
                <div class="col-xs-8 no-breakline overflow-ellipsis">
                    <span class="text-danger">{{{hostPort}}}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <b>External IP:</b>
                </div>
                <div class="col-xs-8 no-breakline overflow-ellipsis">
                    <span class="text-danger">{{{externalIp}}}</span>
                </div>
            </div>
        {{else}}
            <div class="row">
                <div class="col-xs-4">
                    <b>External IP:</b>
                </div>
                 <div class="col-xs-8 no-breakline overflow-ellipsis">
                    <span class="text-danger">{{{externalIp}}}</span>
                </div>
            </div>
        {{/if}}
        <div class="row">
            <div class="col-xs-4">
                <b>Local IPs:</b>
            </div>
            <div class="col-xs-8">
                <span class="text-danger no-breakline overflow-ellipsis">{{firstLocal}}</span>
            </div>
        </div>
        {{#each ip in localAddresses}}
            <div class="row">
                <div class="col-xs-4">
                </div>
                <div class="col-xs-8">
                    <span class="text-danger no-breakline overflow-ellipsis">{{{ip}}}</span>
                </div>
            </div>
        {{/each}} 
    </div>
</div>